body {
  color: #797979;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px; }

a {
  transition: all 0.3s ease 0s;
  text-decoration: none; }
  a:active, a:hover, a:focus {
    outline: 0 none;
    text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-transform: uppercase; }

h2 {
  font-size: 32px;
  letter-spacing: 0.8px;
  line-height: 39px;
  font-weight: 700; }

h3 {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.7px; }

h4 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.6px; }

h5 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px; }

h6 {
  color: #222222;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 27px;
  text-transform: capitalize; }

.display-table {
  display: table;
  height: 100%;
  width: 100%; }

.display-table-cell {
  display: table-cell;
  vertical-align: middle; }

.header {
  background: #ffffff none repeat scroll 0 0;
  padding: 10px 0;
  transition: 0.3s; }

.logo {
  margin-top: 15px; }

.navbar {
  border: medium none;
  margin-bottom: 0; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none; }

.main-menu ul {
  float: inherit !important;
  list-style: outside none none;
  margin: 0;
  padding: 0; }
  .main-menu ul li {
    display: inline; }
    .main-menu ul li:first-child a {
      margin: 0; }
    .main-menu ul li a {
      color: #393939;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.4px;
      line-height: 64px;
      margin-left: 30px;
      padding: 0;
      text-transform: uppercase; }
      .main-menu ul li a.active {
        color: #07cb79; }
      .main-menu ul li a:hover {
        color: #07cb79; }

.banner {
  background: transparent url("../../img/banner.png") repeat scroll center center/cover;
  padding: 194px 0 200px;
  position: relative; }
  .banner:before {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .banner .banner-text a {
    color: #292929;
    display: table-cell;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 20px;
    margin-bottom: 30px;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle; }
  .banner .banner-text > h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px; }
  .banner .banner-text > p {
    color: #f8f8f8;
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 22px; }
  .banner .banner-text .banner-btn {
    background: #07cb79 none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-table;
    height: 45px;
    margin-bottom: 30px;
    transition: all 0.4s ease 0s;
    width: 170px; }
    .banner .banner-text .banner-btn a {
      color: #fff !important;
      margin: 0 !important; }
  .banner .typed-words {
    color: #07cb79; }

.about {
  padding-top: 152px; }
  .about .heading {
    margin-bottom: 91px;
    position: relative; }
    .about .heading:before {
      content: "";
      background: #07cb79 none repeat scroll 0 0;
      height: 15px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: -24px;
      transform: rotate(45deg);
      width: 15px; }
    .about .heading:after {
      bottom: -23px;
      content: "";
      background: #07cb79 none repeat scroll 0 0;
      height: 15px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      transform: rotate(45deg);
      width: 15px; }
    .about .heading h2 {
      position: relative; }
      .about .heading h2:before {
        content: "";
        background: #07cb79 none repeat scroll 0 0;
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: -18px;
        width: 70px; }
      .about .heading h2:after {
        bottom: -17px;
        content: "";
        background: #07cb79 none repeat scroll 0 0;
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        width: 70px; }
  .about .about-details {
    margin-bottom: 40px; }
    .about .about-details-heading {
      color: #222;
      font-family: Raleway, sans-serif;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 33px;
      margin-bottom: 20px; }
  .about .about-box-section {
    margin-bottom: 125px;
    margin-top: 100px; }
    .about .about-box-section .about-box {
      margin-bottom: 40px;
      overflow: hidden; }
      .about .about-box-section .about-box-icon {
        color: #333;
        float: left;
        font-size: 60px;
        position: absolute;
        width: 18%; }
        .about .about-box-section .about-box-icon > i {
          color: #07cb79;
          left: 0;
          position: absolute;
          right: 0;
          top: 35.5%; }
      .about .about-box-section .about-box-content {
        position: relative;
        width: 82%;
        float: right;
        font-family: "Montserrat", sans-serif;
        transition: all 0.5s ease 0s; }

/*# sourceMappingURL=styles.css.map */
