/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .footer-social-icons > a {
    margin-right: 0;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .about {
    padding-top: 100px;
  }
  .about-box-section {
    margin-bottom: 75px;
    margin-top: 35px;
  }
  .mainmenu ul li a {
    margin-left: 15px;
  }
  .banner-area {
    padding: 150px 0;
  }
  .heading {
    margin-bottom: 58px;
  }
  .about-img {
    margin-top: 50px;
  }
  .portfolio-nav ul li {
    font-size: 10px;
  }
  .about-details {
    margin-bottom: 80px;
  }
  .about-feature {
    margin-top: 83.5%;
    &::before {
      top: -100%;
      width: 100%;
    }
  }
  .contact-box-single {
    margin-bottom: 15px;
  }
  .service-area {
    padding: 100px 0 75px;
  }
  .contact-box {
    padding: 20px;
  }
  .footer-social-icons > a {
    margin-right: 0;
  }
  .about-box-mrgn-none {
    margin-bottom: 0;
  }
  .portfolio-area {
    padding: 100px 0 75px;
  }
  .portfolio-desc {
    left: 5%;
    right: 5px;
    top: 2%;
    h4 a {
      font-size: 16px;
      margin-bottom: 0;
    }
    .portfolio-category {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  .portfolio-zoom {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .testimonial {
    padding: 100px 0 62px;
  }
  .pricing {
    padding: 100px 0 75px;
  }
  .pricing-list {
    margin: 18px 8px 13px 8px;
  }
  .team {
    padding: 100px 0 63px;
  }
  .team-carousel .owl-wrapper {
    padding-bottom: 137px;
  }
  .blog {
    padding: 100px 0 75px;
  }
  .blog-content {
    margin: -100px 20px 0;
    padding: 23px 20px;
    > h4 {
      margin-bottom: 10px;
    }
  }
  .blog-details {
    margin-top: 10px;
  }
  .contact {
    padding: 100px 0 75px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .container {
    width: 300px;
  }
  .banner-text > h1 {
    font-size: 24px;
  }
  .mainmenu ul li a {
    line-height: 35px;
    margin-left: 0;
  }
  .contact-way {
    float: inherit;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .social-link {
    float: inherit;
    text-align: center;
  }
  .logo {
    margin-top: 11px;
  }
  .mainmenu {
    float: inherit;
  }
  .nav.navbar-nav.navbar-right {
    background: #f3f3f3 none repeat scroll 0 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .banner-area {
    padding: 100px 0;
  }
  .banner-text-btn {
    margin-bottom: 8px;
  }
  .about-details-heading {
    text-align: center;
  }
  .about-area {
    padding-top: 100px;
  }
  .heading {
    margin-bottom: 50px;
  }
  .about-details {
    margin-bottom: 40px;
  }
  .about-box-icon {
    font-size: 40px;
  }
  .about-box-section {
    margin-bottom: 75px;
    margin-top: 50px;
  }
  .about-img {
    margin-top: 30px;
  }
  .service-area {
    padding: 100px 0 56px;
  }
  .service-sin {
    margin-bottom: 20px;
  }
  .service-row {
    margin-bottom: 0;
  }
  .portfolio-nav {
    margin-top: -20px;
    ul li {
      display: block;
      margin-bottom: 20px;
    }
  }
  .single-portfolio {
    width: 100%;
  }
  .portfolio-desc {
    left: 5%;
    top: 10px;
  }
  .portfolio-area {
    padding: 100px 0 74px;
  }
  .testimonial-area {
    padding: 100px 0 62px;
  }
  .testimonial-author {
    width: 35%;
  }
  .testimonial-content {
    padding: 10px;
    width: 65%;
  }
  .author-img, .author-name {
    text-align: center;
  }
  .author-img > img {
    height: 55px;
    width: 55px;
  }
  .pricing-sin {
    margin-bottom: 20px;
  }
  .pricing {
    padding: 100px 0 56px;
  }
  .team {
    padding: 100px 0 65px;
  }
  .team-carousel .owl-wrapper {
    padding-bottom: 115px;
  }
  .blog-content {
    margin: -100px 15px 0;
    padding: 20px;
    > h4 {
      margin-bottom: 10px;
    }
  }
  .blog-details {
    margin-top: 10px;
  }
  .readmore {
    padding: 0 14px !important;
    display: inline-block;
    float: inherit;
  }
  .blog-sin {
    margin-bottom: 20px;
  }
  .blog-area {
    padding: 100px 0 75px;
  }
  .postmore {
    margin-top: 10px;
  }
  .contact-box {
    margin-bottom: 30px;
    padding: 30px;
  }
  .contact-area {
    padding: 100px 0 75px;
  }
  #msgSubmit {
    display: block;
  }
  .blogdetails-comment-form {
    margin-bottom: 45px;
  }
  .blog-banner {
    padding: 75px 0;
  }
  .footer-social-icons > a {
    margin-right: 0;
  }
  .commentor-thumb {
    width: 20%;
  }
  .commentor-details {
    width: 80%;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  .team-member-details {
    padding: 10px;
  }
  .team-member-link {
    padding: 5px 0;
  }
  .team-carousel .owl-wrapper {
    padding-bottom: 80px;
  }
  .testimonial-author {
    padding-left: 30px;
  }
  .testimonial-sin-2 .testimonial-author {
    padding-right: 30px;
  }
}