.about {
  padding-top: 152px;

  .heading {
    margin-bottom: 91px;
    position: relative;

    &:before {
      content: "";
      background: $green none repeat scroll 0 0;
      height: 15px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: -24px;
      transform: rotate(45deg);
      width: 15px;
    }

    &:after {
      bottom: -23px;
      content: "";
      background: $green none repeat scroll 0 0;
      height: 15px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      transform: rotate(45deg);
      width: 15px;
    }

    h2 {
      position: relative;

      &:before {
        content: "";
        background: $green none repeat scroll 0 0;
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: -18px;
        width: 70px;
      }

      &:after {
        bottom: -17px;
        content: "";
        background: $green none repeat scroll 0 0;
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        width: 70px;
      }
    }
  }

  .about-details {
    margin-bottom: 40px;

    &-heading {
      color: #222;
      font-family: Raleway, sans-serif;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 33px;
      margin-bottom: 20px;
    }
  }

  .about-box-section {
    margin-bottom: 125px;
    margin-top: 100px;

    .about-box {
      margin-bottom: 40px;
      overflow: hidden;

      &-icon {
        color: #333;
        float: left;
        font-size: 60px;
        position: absolute;
        width: 18%;

        > i {
          color: $green;
          left: 0;
          position: absolute;
          right: 0;
          top: 35.5%;
        }
      }

      &-content {
        position: relative;
        width: 82%;
        float: right;
        font-family: "Montserrat", sans-serif;
        transition: all 0.5s ease 0s;
      }
    }
  }
}
