body {
  color: #797979;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;

  &:active, &:hover, &:focus {
    outline: 0 none;
    text-decoration: none;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.8px;
  line-height: 39px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.7px;
}

h4 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.6px;
}

h5 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

h6 {
  color: #222222;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 27px;
  text-transform: capitalize;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.heading {
  margin-bottom: 91px;
  position: relative;

  &:before {
    content: "";
    background: $green none repeat scroll 0 0;
    height: 15px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -24px;
    transform: rotate(45deg);
    width: 15px;
  }

  &:after {
    bottom: -23px;
    content: "";
    background: $green none repeat scroll 0 0;
    height: 15px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    transform: rotate(45deg);
    width: 15px;
  }

  h2 {
    position: relative;

    &:before {
      content: "";
      background: $green none repeat scroll 0 0;
      height: 3px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: -18px;
      width: 70px;
    }

    &:after {
      bottom: -17px;
      content: "";
      background: $green none repeat scroll 0 0;
      height: 3px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      width: 70px;
    }
  }
}
