.banner
  background: rgba(0, 0, 0, 0) url("../../img/banner.png") repeat scroll center
  padding: 194px 0 200px
  position: relative

  &:before
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0
    content: ""
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%